Django
djangorestframework
psycopg2-binary
python-dotenv
djangorestframework-simplejwt
django-cors-headers
cryptography
ultralytics
opencv-python
torchvision
numpy
pillow
requests
drf-yasg
whitenoise
gunicorn
celery
redis
django-celery-beat
django-celery-results
paho-mqtt
firebase-admin
